body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #FEF3E1;
}

/* header styling */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #99817B;
    position: sticky;
    top: 0;
}

/* navbar styling */
.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-top: 0px;
    margin-right: 10px;
}

/* logo styling */
.site-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.site-main {
    padding: 20px;
}

/* welcome styling */
.welcome {
    text-align: center;
    padding: 40px 20px;
    background: #e0b49b;
    border-radius: 25px;
    color: white;
}

/* about us styling */
.about {
    padding: 20px;
    border-radius: 25px;
}

.about p a {
    color: #C489B9;
    font-weight: 600;
}

/* events class styling */
.events {
    padding: 20px;
    border-radius: 25px;
}

.event {
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    border: black 1px solid;
    max-width: 300px;
}

.event img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* flex events styling */
.event-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* menu styling */
.menu {
    padding: 20px;
    border-radius: 25px;
}

.menu table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.menu th {
    background-color: #f2c3a7;
}
.menu td, th {
    border: 1.5px solid #99817b;
    text-align: left;
    padding: 8px;
}

.menu tr:hover {
    background-color: #c489b9;
}

.menu td:nth-child(odd) {
    background-color: #f2c3a7;
}

@media screen and (max-width: 600px) {
    table, th, td, tr {
      display: block;
    }
}

/* location styling */
.location {
    padding: 20px;
    border-radius: 25px;
}

.map {
    max-width: 100%;
    height: 400px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    margin: 20px 0;
}

.map iframe {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* footer styling */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 4px 0px;
}